<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Found</title>
    <style>
        .container{
            height: 100vh;
            width: 100vw;
        }
       
    </style>
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>User already present ! </h2>
            <h3>Please login if you have a account already. </h3>
            <h3>Or use a diffrent username.  </h3>
            
            {% if res %}
                <a href="{{   url_for('res_login')   }}">Return to Login page</a> <br> <br>
                <a href="{{   url_for('res_reg')   }}">New User ? Register your Restaurant now.</a>
            {% else %}
                <a href="{{   url_for('ngo_login')   }}">Return to Login page</a> <br> <br>
                <a href="{{   url_for('ngo_reg')   }}">New User ? Register your NGO now.</a>
            {% endif %}
        </div>
    </div>
</body>
</html>